# Case
[Comparison with spreadsheets](https://pandas.pydata.org/docs/getting_started/comparison/comparison_with_spreadsheets.html)
Since many potential pandas users have some familiarity with spreadsheet programs like Excel, this page is meant to provide some examples of how various spreadsheet operations would be performed using pandas. This page will use terminology and link to documentation for Excel, but much will be the same/similar in Google Sheets, LibreOffice Calc, Apple Numbers, and other Excel-compatible spreadsheet software.

In [124]:
import pandas as pd
import numpy as np


tips = pd.read_csv('data/tips.csv', delimiter=',')

# Operations on Columns / Formulas in Spreadsheets
tips['total_bill'] = tips['total_bill'] - 2
tips['new_bill'] = tips['total_bill'] / 2

# Filter
# tips = tips[tips['new_bill'] > 10]
# is_dinner = tips['time'] == 'Dinner'
# tips = tips[is_dinner]
# print(tips['new_bill'].count())

# Conditional Column Creation / IF Statements in Spreadsheets e.g. IF(A1 < 10, "low", "high")
tips['bucket'] = np.where(tips['total_bill'] < 10, 'low', 'high')
filter_bucket = tips['bucket'] == 'high'
# tips = tips[filter_bucket]

# Date Functions / Date and Time Functions in Spreadsheets
tips['date1'] = pd.Timestamp('2013-01-15')
tips['date2'] = pd.Timestamp('2015-02-15')
tips['date1_year'] = tips['date1'].dt.year
tips['date2_month'] = tips['date2'].dt.month
tips['date1_next'] = tips['date1'] + pd.offsets.MonthBegin()
tips['months_between'] = tips['date2'].dt.to_period('M') - tips['date1'].dt.to_period('M')

tips

,total_bill,tip,sex,smoker,day,time,size,new_bill,bucket,date1,date2,date1_year,date2_month,date1_next,months_between
0,14.99,1.01,Female,No,Sun,Dinner,2,7.495,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
1,8.34,1.66,Male,No,Sun,Dinner,3,4.170,low,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
2,19.01,3.50,Male,No,Sun,Dinner,3,9.505,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
3,21.68,3.31,Male,No,Sun,Dinner,2,10.840,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
4,22.59,3.61,Female,No,Sun,Dinner,4,11.295,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,27.03,5.92,Male,No,Sat,Dinner,3,13.515,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
240,25.18,2.00,Female,Yes,Sat,Dinner,2,12.590,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
241,20.67,2.00,Male,Yes,Sat,Dinner,2,10.335,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
242,15.82,1.75,Male,No,Sat,Dinner,2,7.910,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>
243,16.78,3.00,Female,No,Thur,Dinner,2,8.390,high,2013-01-15,2015-02-15,2013,2,2013-02-01,<25 * MonthEnds>