1. Mendeskripsikan Data

In [8]:
import pandas as pd

data = pd.read_csv('data/data_nasabah.csv', delimiter=';')

# Jumlah data (baris dan kolom)
print(f"Jumlah data (baris, kolom): {data.shape}")

# Informasi tentang tipe data dan skema pengkodean
print("\nInformasi tipe data dan skema pengkodean:")
print(data.info())

# Statistik deskriptif untuk data numerik
print("\nStatistik deskriptif untuk data numerik:")
print(data.describe())

# Melihat beberapa baris pertama dari data
print("\nBeberapa baris pertama dari data:")
print(data.head())

# Menampilkan jumlah nilai unik untuk setiap kolom (untuk memahami kategori)
print("\nJumlah nilai unik untuk setiap kolom:")
for column in data.columns:
    print(f"{column}: {data[column].nunique()}")

Jumlah data (baris, kolom): (100, 10)

Informasi tipe data dan skema pengkodean:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   nasabah_id                 100 non-null    object
 1   umur                       100 non-null    int64
 2   jenis_kelamin              100 non-null    object
 3   pendapatan                 100 non-null    int64
 4   saldo_rata_rata            100 non-null    int64
 5   jumlah_transaksi           100 non-null    int64
 6   jenis_produk               100 non-null    object
 7   frekuensi_kunjungi_cabang  100 non-null    int64
 8   pengguna_mobile_banking    100 non-null    object
 9   skor_kredit                100 non-null    int64
dtypes: int64(6), object(4)
memory usage: 7.9+ KB
None

Statistik deskriptif untuk data numerik:
             umur    pendapatan  saldo_rata_rata  jumlah_transaksi  \
count  100.000000  1.000000e+02     1.000000e+02         100.00000
mean    43.380000  4.555500e+06     8.159000e+05          12.78000
std     13.232788  1.587004e+06     4.634987e+05           6.72036
min     20.000000  2.800000e+06     1.475000e+05           2.00000
25%     32.000000  3.100000e+06     4.485000e+05           7.75000
50%     45.000000  3.475000e+06     7.652500e+05          13.00000
75%     54.250000  6.225000e+06     1.050000e+06          18.25000
max     64.000000  7.000000e+06     1.972000e+06          25.00000

       frekuensi_kunjungi_cabang  skor_kredit
count                 100.000000   100.000000
mean                    2.700000   698.000000
std                     1.494096   149.057646
min                     1.000000   500.000000
25%                     1.000000   600.000000
50%                     3.000000   700.000000
75%                     4.000000   800.000000
max                     5.000000   900.000000

Beberapa baris pertama dari data:
  nasabah_id  umur jenis_kelamin  pendapatan  saldo_rata_rata  \
0       N001    22     Perempuan     5800000          1508000
1       N002    64     Perempuan     5700000          1254000
2       N003    27     Perempuan     2950000           590000
3       N004    34     Perempuan     3100000           186000
4       N005    45     Laki-Laki     6700000          1474000

   jumlah_transaksi  jenis_produk  frekuensi_kunjungi_cabang  \
0                19      tabungan                          1
1                 9  kartu_kredit                          2
2                12      tabungan                          1
3                16      deposito                          5
4                15  kartu_kredit                          3

  pengguna_mobile_banking  skor_kredit
0                   TIDAK          900
1                   TIDAK          900
2                      YA          500
3                   TIDAK          700
4                      YA          800

Jumlah nilai unik untuk setiap kolom:
<class 'pandas.core.indexes.base.Index'>
nasabah_id: 100
umur: 40
jenis_kelamin: 2
pendapatan: 30
saldo_rata_rata: 90
jumlah_transaksi: 24
jenis_produk: 3
frekuensi_kunjungi_cabang: 5
pengguna_mobile_banking: 2
skor_kredit: 5